<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSExceptionDomains</key>
        <dict>
            <key>94.228.125.136</key>
            <dict>
                <key>NSExceptionAllowsInsecureHTTPLoads</key>
                <true/>
            </dict>
        </dict>
    </dict>
    <key>NSFaceIDUsageDescription</key>
    <string>Приложение использует Face ID для аутентификации и входа в систему.</string>
    <key>NSCameraUsageDescription</key>
    <string>Приложение требует доступ к камере для записи медиафайлов и загрузки аватаров.</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Приложение использует доступ к фотогалерее для загрузки и выбора изображений или видео.</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>Приложение требует доступ к микрофону для записи аудио.</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Приложение использует доступ к вашему местоположению для добавления геометок к постам.</string>
    <key>NSAppleMusicUsageDescription</key>
    <string>Приложение требует доступ к медиатеке для добавления музыки к постам.</string>
    <key>UIFileSharingEnabled</key>
    <true/>
    <key>LSSupportsOpeningDocumentsInPlace</key>
    <true/>
    <key>NSFileProviderUsageDescription</key>
    <string>Приложение использует доступ к файловой системе для загрузки и выбора аудиофайлов.</string>
</dict>
</plist>
